.cap-wrapper-menu {
    margin-left: 7vw;
    li {
        margin: 0 1.3vw;
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}

.btn {
    width: 12.4vw;
    border: 1px solid #333333;
    border-radius: 8px;
    cursor: pointer;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-cap-btn {
    .btn {
        margin-right: 5.5vw;
    }
}

.header {
    .logo {
        img {
            width: 2.7vw;
        }
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        width: 0.27vw;
        background: #FBF9FF;
        border-radius: 50%;
        height: 4px;
        margin: 0 0.27vw;
        cursor: pointer;
    }
}

.header-text-section,
.base-content {
    width: 86.1vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

header {
    &.header-startpage {
        height: 100vh;
        min-height: 600px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        overflow-x: hidden;
        .header {
            align-self: flex-start;
            width: 100%;
            position: relative;
            z-index: 1;
            padding-top: 30px;
        }
    }
}

.mission-section {
    margin-top: 180px;
    position: relative;
    padding-bottom: 190px;
    .cloud-4 {
        position: absolute;
        left: -16%;
        bottom: 0px;
    }
}

.header-start-page-text {
    div {
        font-size: 6.94vw;
        font-family: 'Migra';
        font-weight: 100;
        line-height: 104%;
        letter-spacing: 2.2px;
        &:last-child {
            margin-right: 7vw;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a {
                margin-left: 3.47vw;
            }
        }
    }
    a {
        display: inline-flex;
        align-items: center;
        &:hover {
            background: url(../img/text-background.png) no-repeat center/cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        picture {
            display: flex;
            margin-right: 2.7vw;
        }
        &+a {
            margin-left: 2vw;
        }
    }
    img {
        width: 4.8vw;
    }
}

.header-text {
    font-size: 6.94vw;
    font-family: 'Migra';
    font-weight: 100;
    line-height: 95%;
    .Skeletongue-link {
        background: url(../img/text-background.png) no-repeat center/cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        &:after {
            content: "";
            width: 158px;
            height: 176px;
            background: url(../img/Skeletongue-link.png) top left;
            display: block;
            position: absolute;
            top: 110px;
            right: 80px;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}

.header-bottom-box {
    width: 100%;
    align-self: flex-end;
    margin-bottom: 50px;
    img {
        margin-left: 16vw;
    }
}

.header-text-section {
    display: flex;
    align-items: center;
}

.cloud-first,
.cloud-second,
.cloud-third {
    position: absolute;
}

.cloud-first {
    top: -151px;
    left: -15vw;
}

.cloud-second {
    top: -235px;
    right: 16vw;
}

.cloud-third {
    bottom: 0px;
    right: -24.3vw;
}

.super-nft-images-box {
    position: relative;
    width: 47.91vw;
    overflow: hidden;
    img {
        &.image-girl-left {
            position: absolute;
            bottom: 0px;
            left: 5vw;
            width: 17.2vw;
        }
        &.image-boy-right {
            position: absolute;
            bottom: 0px;
            right: 6vw;
            width: 18.9vw;
        }
    }
    .image-back {
        width: 43.9vw;
        margin: 0 2.2vw -9.5%;
    }
}

.super-nft-section {
    border: 1px solid #67646D;
    margin-top: 110px;
}

.super-nft-text {
    width: 23.9vw;
    p {
        color: #67646D;
    }
}

.super-nft-bottom {
    border-top: 1px solid #67646D;
    height: 85px;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #67646D;
        bottom: 20px;
        position: absolute;
    }
    .image-candle {
        position: absolute;
        bottom: 30%;
        left: 47vw;
    }
    .image-cat-bottom {
        position: absolute;
        bottom: -17%;
        left: 19.7vw;
        width: 17.7vw;
    }
}

.base-link {
    display: inline-block;
}

p {
    &+.base-link {
        margin-top: 38px;
    }
}

.wrapper-super-nft {
    background: url(../img/ellipse.png) 59% -10%;
}

.mission-text-box {
    display: flex;
    align-items: flex-start;
    width: 51vw;
    justify-content: flex-end;
    width: 100%;
    margin-top: 80px;
    p {
        column-width: 48%;
        column-count: 2;
        column-gap: 4%;
        margin: 0;
        width: 56vw;
        color: #67646D;
    }
}

.arrow {
    width: 1.38vw;
}

.collection-section {
    .arrow {
        transform: rotate(-45deg);
        margin-bottom: -40px;
    }
}

.collection-item,
.collection-min-info {
    transition: 0.3s;
}

.wrapper-collection {
    align-items: stretch;
    overflow: hidden;
    .collection-item {
        width: calc(100% / 4);
        border: 1px solid #67646D;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        min-height: 50vh;
        .collection-min-info {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    .collection-name {
        &.title-m {
            margin-left: 2.08vw;
            margin-top: 30px;
            width: 100%;
            min-width: 200px;
        }
    }
    .wrapper-collection {
        .collection-item {
            &+.collection-item:not(:hover) {
                border-left: 0px;
            }
        }
    }
    .collection-min-info {
        img {
            align-self: flex-end;
        }
    }
}

.wrapper-collection {
    &:hover {
        .collection-item img {
            width: 13.13vw !important;
        }
        .collection-item {
            width: calc(100% / 6);
            &:hover {
                width: calc(100% / 2);
            }
        }
    }
    .collection-item {
        &:hover {
            border: 1px solid !important;
            border-image-source: url(../img/text-background.png)!important;
            border-image-slice: 1!important;
            border-image-repeat: round!important;
            .collection-min-info {
                width: 40%;
            }
            .collection-all-info {
                width: 60%;
                padding-right: 2%;
                height: auto;
                display: flex;
                overflow: initial;
                &>p {
                    margin: 30px 0;
                    align-self: flex-start;
                }
            }
            p {
                color: #67646D;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .collection-summary {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-self: flex-end;
            }
        }
        .collection-all-info {
            // width: 0px;
            // overflow: hidden;
            padding: 0;
            // height: 0;
            // display: flex;
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &:not(:first-child) {
            border-left: 0px;
        }
        .collection-summary {
            .item {
                width: calc(100% / 3);
                p {
                    margin: 4px 0 24px;
                }
            }
        }
        &:last-child {
            .collection-min-info {
                img {
                    width: 13.1vw;
                }
            }
        }
        .collection-min-info {
            img {
                align-self: flex-end;
                width: 13.47vw;
                min-width: 13.47vw;
            }
        }
    }
}

.collection-item:hover~.collection-item {
    width: calc(100% / 6) !important;
}

.collection-item:hover {
    width: calc(100% / 2) !important;
}

.base-m-top {
    margin-top: 150px;
}

.tabs__content {
    opacity: 0;
    transition: 0.7s;
    position: absolute;
    left: 0px;
    top: 102px;
    &.active {
        opacity: 1;
    }
}

.wrapper-top-sales-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 60px;
    .tabs {
        width: calc(50% + 7.01vw);
        min-height: 60vh;
        position: relative;
    }
}

.tabs {
    ul {
        border-bottom: 2px solid #272629;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
        li {
            list-style: none;
            width: calc(100% / 3);
            cursor: pointer;
            border-bottom: 2px solid #272629;
            margin-bottom: -2px;
            padding-bottom: 24px;
            &.active {
                border-color: #fff;
                color: #FBF9FF;
            }
        }
    }
    li {
        font-size: 1.11vw;
        text-transform: uppercase;
        color: #67646D;
    }
}

.wrapper-nft-item {
    width: 49%;
    justify-content: flex-start;
    margin-bottom: 64px;
    align-items: flex-start;
    img {
        width: 4.4vw;
        margin-right: 3.4vw;
    }
    .nft-number {
        color: #67646D;
        font-size: 0.97vw;
        i {
            width: 1.1vw;
            color: #67646D;
            vertical-align: middle;
        }
    }
    .nft-price {
        margin: 12px 0 27px;
    }
    .nft-date {
        color: #67646D;
        font-size: 0.97vw;
    }
}

.roadmap-item {
    position: relative;
    padding-left: 45px;
    padding-right: 30px;
    width: 25.83vw;
    padding-top: 33px;
    p {
        color: #67646D;
        line-height: 135%;
        margin-top: 0px;
    }
    &:before {
        content: "";
        width: 16px;
        height: 31px;
        display: inline-block;
        background: url(../img/crystal.png);
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &.section-3 {
        column-width: 33%;
        column-count: 3;
        column-gap: 1.6vw;
        width: 70vw;
    }
    &.section-2 {
        column-width: 49%;
        column-count: 2;
        column-gap: 1.6vw;
        width: 48vw;
    }
    .date {
        position: absolute;
        top: 0px;
        left: 48px;
    }
}

.roadmap-section-slider {
    margin-top: 100px;
    position: relative;
    .owl-nav {
        position: absolute;
        top: -204px;
        left: 51vw;
    }
}

.owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        background: inherit;
        border: none;
        cursor: pointer;
        img {
            width: 1.31vw;
        }
        &.button-left img {
            transform: rotate(90deg);
        }
        &.button-right img {
            transform: rotate(-90deg);
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

.owl-dots {
    display: none;
}

.owl-item {
    display: flex;
    align-items: flex-start;
}

.top-sales-section {
    position: relative;
}

.cloud-5 {
    position: absolute;
    left: 0;
    top: 30%;
}

.owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-news .owl-stage-outer {
    overflow: hidden;
}

.merged-navigation .owl-nav {
    width: 5.2vw;
    height: 5.2vw;
    border: 1px solid #67646D;
    border-radius: 50%;
}

.base-slider .owl-nav {
    justify-content: space-between;
    margin-top: 80px;
    z-index: 3;
    position: relative;
    button {
        width: 5.2vw;
        height: 5.2vw;
        border: 1px solid #67646D;
        border-radius: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: flex;
        align-items: center;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #67646D;
    position: relative;
    top: -4vw;
    margin-bottom: -4vw;
    z-index: 1;
    font-size: 0.88rem;
}

.slider-news .news-box {
    width: 100%;
}

.wrapper-slider-news-item {
    border: 1px solid #67646D;
    align-items: flex-start;
    padding: 1.73vw;
    border: 1px solid #67646D;
    align-items: flex-start;
    padding: 1.73vw;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    .news-description {
        width: 22.7vw;
        p {
            font-size: 0.7778vw;
            color: #67646D;
            line-height: 150%;
            margin-top: 0;
        }
        .date {
            font-size: 0.7778vw;
        }
    }
    .news-name {
        padding-left: 3.125vw;
        flex-grow: 1;
        width: 21.52vw;
        padding-right: 2vw;
    }
    img {
        width: 4.93vw;
    }
}

.last-news-section {
    width: 56.45vw;
}

.wrapper-last-news-section {
    align-items: flex-start;
}

.m-top-80 {
    margin-top: 80px;
}

.m-top-160 {
    margin-top: 160px;
}

.m-top-120 {
    margin-top: 120px;
}

.PussyRiot-image {
    width: 28.2vw;
}

.image-element {
    &.FVCKRENDER-image {
        width: 30.5vw;
    }
    &.GuyOSEARY-image {
        width: 29.5vw;
    }
    &.GREMPLIN-image {
        width: 29.93vw;
    }
    &.BettyVault-image {
        width: 28.3vw;
    }
    &.CryptoFinally-image {
        width: 25.7vw;
    }
    &.JOEL-MADDEN-image {
        position: relative;
        top: 8.5vw;
        width: 30.8vw;
    }
    &.Seth-Green-image {
        width: 33.9vw;
    }
}

#FVCKRENDER {
    padding-left: 16vw;
    margin-left: 2.7vw;
    .persona-info {
        padding-left: 20%;
    }
}

#GuyOSEARY {
    margin-left: 5.5vw;
    .persona-info {
        padding-left: 28%;
    }
}

.lamp-image-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -2.5vw;
    left: 0px;
}

.community-slider {
    width: 9999%;
    display: flex;
    align-items: flex-end;
    .owl-stage {
        align-items: flex-end;
    }
}

.bottle-image-box {
    position: absolute;
    left: 0px;
    bottom: -6.3vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    img {
        margin-top: 20px;
        width: 5.8vw;
    }
    i {
        font-size: 1.8vw;
    }
}

#GREMPLIN {
    margin-left: 7.56vw;
    .persona-info {
        padding-left: 30%;
    }
}

.wrapper-slider-news-item {
    &+.wrapper-slider-news-item {
        border-top: 0px;
    }
}

#PussyRiot {
    margin-left: 2vw;
    padding-left: 8.3vw;
    .persona-info {
        padding-left: 26%;
    }
}

#CryptoFinally {
    padding-left: 14vw;
    .persona-info {
        padding-left: 16%;
    }
}

.icon-link {
    border: 1px solid #fff;
    width: 3.6vw;
    height: 3.6vw;
    display: flex;
    margin: 0 !important;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    .icon-opensea {
        font-size: 2vw;
    }
    &:hover {
        opacity: 0.5;
    }
}

#Seth-Green {
    margin-left: 5.4vw;
    .persona-info {
        padding-left: 35%;
    }
}

.community-section-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 600px;
    background: url(../img/back-1.png);
    background-size: cover;
    margin-top: 70px;
    border-top: 1px solid #67646D;
    border-bottom: 1px solid #67646D;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: -50px;
        top: 0px;
        background: url(assets/img/ellipse-2.png) top center;
    }
}

#JOEL-MADDEN {
    .persona-info {
        display: flex;
        justify-content: flex-end;
        padding-right: 1.5vw;
    }
}

.pizza-image-box {
    position: absolute;
    bottom: -5.3vw;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 14.4vw;
    }
}

.candle-image-box {
    position: absolute;
    bottom: -4vw;
    left: 0px;
    .icon-link {
        position: absolute;
        bottom: 10px;
        left: 12px;
        border-color: #000;
        i {
            color: #000;
            border-color: #000;
        }
    }
}

#BettyVault {
    padding-left: 9vw;
    margin-left: 4.7vw;
    padding-left: 9vw;
    .persona-info {
        padding-left: 24%;
    }
}

.community-persona-element {
    position: relative;
}

.persona-info {
    position: absolute;
    bottom: -8.68vw;
    width: 100%;
    padding: 2.77vw 0;
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        width: 3.4vw;
    }
    div {
        padding-left: 1.18vw;
        span {
            display: block;
            color: #67646D;
        }
        a {
            border-bottom: 1px solid;
            margin-top: 0px;
            color: #67646D;
        }
    }
}

.community-footer {
    min-height: 8.68vw;
    border-bottom: 1px solid #67646D;
}

.wrapper-title-text {
    flex-wrap: nowrap;
    p {
        max-width: 56.45vw;
        color: #67646D;
    }
}

.roadmap-section {
    padding-top: 20px;
    overflow: hidden;
}