
.icon-discord:before { content: '\e800'; } /* '' */
.icon-i:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-opensea:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-delete:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
