@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?76508654');
    src: url('../font/fontello.eot?76508654#iefix') format('embedded-opentype'), url('../font/fontello.woff2?76508654') format('woff2'), url('../font/fontello.woff?76508654') format('woff'), url('../font/fontello.ttf?76508654') format('truetype'), url('../font/fontello.svg?76508654#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76508654#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    /* opacity: .8; */
}

.icon-discord:before {
    content: '\e800';
}


/* '' */

.icon-i:before {
    content: '\e801';
}


/* '' */

.icon-instagram:before {
    content: '\e802';
}


/* '' */

.icon-opensea:before {
    content: '\e803';
}


/* '' */

.icon-twitter:before {
    content: '\e804';
}


/* '' */